@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}
.part1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #272a43;
  text-align: center;
  padding: 20px;
}
.Logo img {
  width: 300px;
  height: auto;
  margin-bottom: 30px;
  border-radius: 10px;
}
.part1 h1 {
  font-size: 2.5rem;
  color: #fff;
  margin-bottom: 20px;
}
.part1 h4 {
  font-size: 1.2rem;
  color: #d0d5dd;
  margin-bottom: 40px;
  max-width: 600px;
}
.part1 button {
  padding: 13px 70px;
  font-weight: 650;
  font-size: 1.1rem;
  color: #fff;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(150, 86, 181, 1) 0%,
    rgba(0, 213, 255, 0.575) 100%
  );
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
